/*Скрывает элемент на странице*/
.invisibly {
    display: none;
}

/*Подсвечивает бордер кнопки при наведении*/
.backlight:hover {
    border-bottom: 5px solid red !important;
}

/*Стили для крестика*/
.custom-close {
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

    .custom-close:hover {
        opacity: 1;
    }

    .custom-close:before, .custom-close:after {
        position: absolute;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #333;
    }

    .custom-close:before {
        transform: rotate(45deg);
    }

    .custom-close:after {
        transform: rotate(-45deg);
    }
